.header{
    margin: auto;
    background: white;
    padding-left: 50px;
    width: 1150px;
    display: flex;
}

.router-page{
    font-size: 18px;
    margin-left: 65%;
    padding-top: 4.5%;
}
.router-page-name{
    font-family: "微軟正黑體";
    text-decoration:none;
    color: orange;
    margin: 7px;
    font-weight: bold;
 
}

.router-page-name:hover{
    filter: drop-shadow(0px 0px 2px rgb(235, 188, 101));
    
}

